<p id="notice"><%= notice %></p>

<p>
  <strong>Challenge count:</strong>
  <%= @hunt.challenge_count %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @hunt.creator %>
</p>

<%= link_to 'Edit', edit_hunt_path(@hunt) %> |
<%= link_to 'Back', hunts_path %>
